.block {
  position: relative;
  padding: 20px 15px 20px 20px;
  border-radius: 22px;
  background: #5740bb;
  color: #ffffff;
  margin: 20px;
  transition: box-shadow 0.4s ease-in-out, transform 0.1s ease-in;
}

.block:hover {
  box-shadow: rgba(60, 60, 103, 0.4) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.4) 0px 8px 16px -8px;
  transform: translate(0, -0.55rem);
}

.calculator .block:hover {
  transform: translate(0, -0.2rem);
}

.block .currency-in,
.block .currency-out {
  font-size: 1.3rem;
  text-align: right;
  cursor: default;
}

.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-item {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.currency-name {
  font-family: "Jura";
  font-size: 1.3rem;
  font-weight: 700;
}

.note {
  font-size: 0.7rem;
  padding-top: 10px;
}
