body {
  margin: 0;
  font-family: "Jura", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poiret One", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/*HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* .skin_color {color: #487922;} */

body {
  font-family: "Jura", sans-serif;
  font-size: 16px;
  background: #f6f4fb;
  color: #666;
}

h1,
h2,
h3,
h3,
h4,
h5,
h6 {
  font-family: "Nunito Sans", sans-serif;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

a:hover,
a:focus,
a:active {
  color: #487922;
  text-decoration: none;
}

main,
.site-content {
  background-color: #f6f4fb;
  padding: 30px 0px;
}

.calc-res {
  font-size: 1.2rem;
}

.calc-res li {
  margin: 10px 0;
}

.container {
  padding: 0 15px;
}

@media (min-width: 575.98px){
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 767.98px){
  .container {
    max-width: 720px;	
  }
}

@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1199.98px){
  .container {
    max-width: 1140px;
  }
}
